html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

footer p {
    font-family: "Roboto", sans-serif;
}

.navbar {
    padding: 0;
}

.navbar .nav-link {
    color: rgba(0, 0, 0, 0.5);
    padding-bottom: 1rem;
    padding-top: 1rem;
    border-bottom: 2px solid transparent;
}

.navbar .nav-link:focus, .navbar .nav-link:hover {
    color: rgba(0, 0, 0, 1);
    border-bottom: 2px solid black;
}

.navbar .navbar-nav .nav-link.active, .navbar .navbar-nav .show > .nav-link {
    color: rgba(0, 0, 0, 1);
    font-weight: bold;
    border-bottom: 2px solid black;
}

.sidebar .nav-item .nav-link:not(.active) {
    color: #212529 !important;
}

.alert-div {
    z-index: 11;
    width: 100%;
}

.main-container {
    min-height: 80vh;
}

.img-letter {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.h-8vw {
    height: 8vw;
}

.h-12vw {
    height: 12vw;
}

.h-16vw {
    height: 16vw;
}

.fs-5vw {
    font-size: 5vw;
}

.w-30 {
    width: 30%!important;
}

.w-40 {
    width: 40% !important;
}

.w-50 {
    width: 50% !important;
}

.w-60 {
    width: 60% !important;
}

.plot {
    width: 100%;
}

.searchHintDiv {
    position: absolute;
    overflow: auto;
    z-index: 9999;
}

.cursor-pointer {
    cursor: pointer;
}