@using Bufter.Model
@model Tuple<IEnumerable<Person>, string>
@{
	ViewData["Title"] = "Home";
}

<div class="row">
	<div class="col-8 text-center p-4">
		<div class="row">
			@foreach (Person person in Model.Item1)
			{
				<div class="col-3 p-2">
					<a asp-controller="Home" asp-action="Item" asp-route-Room="@Model.Item2"  asp-route-Person="@person.Name">
						<div class="card" onclick="">
							<div class="card-body">
								<h5 class="card-title">@person.Name</h5>
							</div>
						</div>
					</a>
				</div>
			}
		</div>

	</div>

	<div class="col-4 p-4 mt-4">
		<div class="btn-group-vertical" style="width: 100%">
			<a class="btn btn-primary" role="button" asp-controller="Home" asp-action="Room">Room: @Model.Item2</a>
			<a class="btn btn-primary active" role="button" asp-controller="Home" asp-action="Person">Person</a>
			<a class="btn btn-primary disabled" role="button" asp-controller="Home" asp-action="Item">Item</a>
		</div>
	</div>
</div>

